# To install
#    cp ./golang101.service /lib/systemd/system/golang101.service

[Unit]
Description=Golang 101

[Service]
Type=simple
Restart=always
RestartSec=5s
WorkingDirectory=/var/www/golang101
ExecStart=/var/www/golang101/golang101 -port=12345
StandardOutput=null

[Install]
WantedBy=multi-user.target

