
h1, h2, h4, h5 {
	page-break-after: avoid !important;
}

h3 {
	page-break-after: avoid !important;
	border-bottom: 1px solid #333;
}

pre, table {
	page-break-inside: auto !important;
}

table tr td, table tr th {
	page-break-inside: avoid !important;
}

a:link {
	text-decoration: underline !important;
}

a[href]:after {
	content: none !important;
}

/*ul.index a::after {
	content: leader('.') target-counter(attr(href), page);
}

a.pageref::after { 
	content: " on page " target-counter(attr(href), page) 
}*/

.prettyprinted ol {
	border-style: solid;
	border-width: 1px;
	border-color: #666;
}

code {
	tab-size: 6;
	-moz-tab-size: 6;
}